.contact-list {
  // display: flex;

  @include for-size(tablet) {
    margin-top: 0;
    margin-left: 84px;
    text-align: left;
  }
}

@include for-size(desktop) {
  .contact-item:not(:last-child) {
    margin-right: 50px;
  }
}

.mail-link,
.tel-link {
  display: inline-flex;
  @include fonts(14px, 500, 1.142, 0.02em);
}

@include for-size(tablet) {
  .mail-link:first-child,
  .tel-link:first-child {
    margin-bottom: 10px;
  }
}
.mail-link .mail-icon {
  margin-right: 4px;
  @include for-size(tablet) {
    margin-top: 0;
  }
}
.mail-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 16px;
  height: 12px;
  fill: $main-text-cl;
}

.tel-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 10px;
  height: 16px;
  fill: $main-text-cl;
}

.contact-item:hover,
.contact-item:focus {
  @include transition;
  fill: $accent-cl;
}

.contact-item:hover .mail-icon,
.contact-item:focus .mail-icon {
  @include transition;
  fill: $accent-cl;
}

.contact-item:hover .tel-icon,
.contact-item:focus .tel-icon {
  @include transition;
  fill: $accent-cl;
}
