.menu {
  @include for-size(tablet) {
    display: flex;
    margin-left: 88px;
  }
  @include for-size(desktop) {
    margin-left: 93px;
  }
}
@include for-size(tablet) {
  .menu-item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-link {
  display: block;
  padding-top: 0;
  padding-bottom: 40px;
  @include fonts(14px, 500, 1.142, 0.02em);
  color: $black;
  @include for-size(tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// @media screen and (max-width: 767px) {
//   .menu-link:last-child {
//     padding-bottom: 0;
//   }
// }

.current {
  color: $accent-cl;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-cl;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
  }
}

.menu-button {
  // position: absolute;
  display: inline-flex;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 10px;
  border: 0;
  text-align: center;
  background-color: transparent;
  @include for-size(tablet) {
    display: none;
  }
}

.icon-cross {
  margin-top: 12px;
  padding-bottom: 12px;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.burger-menu.is-open .icon-cross {
  display: block;
  fill: $main-text-cl;
  &:hover,
  &:focus {
    fill: $accent-cl;
  }
}
.menu-button:hover .icon-cross,
.menu-button:hover .icon-menu {
  fill: $accent-cl;
}

.menu-container {
  z-index: 1;
  background-color: $white;

  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;

    &.is-open {
      display: block;
    }
  }
  @include for-size(tablet) {
    width: 100%;
  }
}

@include for-size(tablet) {
  .menu-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1119px) and (min-width: 768px) {
  .menu-container {
    align-items: center;
  }
}

.menu-navigation {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-top: 60px;
  }
  @media screen and (max-width: 1119px) {
    width: 100%;
  }

  text-align: center;

  @include for-size(tablet) {
    // margin-top: 32px;
    // margin-bottom: 32px;
  }
}

.menu-contacts {
  align-items: center;
  @include for-size(tablet) {
    display: inline-flex;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include for-size(desktop) {
    display: flex;
  }
}
