.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @include for-size(mobile-only) {
    display: inline-block;
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include for-size(desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-widget {
  display: inline-block;
  flex-basis: calc(100% / 2);
  margin-bottom: 60px;
  @include for-size(desktop) {
    width: calc(100% / 3);
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  margin: 0;
  margin-bottom: 8px;
  @include for-size(desktop) {
    margin-bottom: 9px;
  }
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 8px;
  @include for-size(desktop) {
    margin-bottom: 9px;
  }
}

.join {
  display: block;
  margin-bottom: 20px;
  @include fonts(14px, 700, 1.142);
  text-transform: uppercase;
  color: $white;
}

.social-icons-footer {
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.social-icons-link-footer {
  @include display-center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    @include transition;
    background-color: $accent-cl;
  }
}
.social-icons-svg-footer {
  width: 20px;
  height: 20px;
  fill: $white;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-widget-form {
    display: inline-block;
    width: 450px;
    align-items: center;
  }
}
